<form (submit)="save($event)" class="hero-form">
  <h1>{{title}}</h1>
  <div class="hero-form-header">
    <p>Name: <input type="text" name="name" [(ngModel)]="hero.name"></p>
    <p>Role: <input type="text" name="role" [(ngModel)]="hero.role"></p>
  </div>
  <div class="hero-form-info">
    <p class="hero-form-info-type">Type: <input type="text" name="type" [(ngModel)]="hero.type"></p>
    <p class="hero-form-info-life">Life: <input type="number" name="life" [(ngModel)]="hero.life"></p>
    <p class="hero-form-info-defense">Defense: <input type="number" name="defense" [(ngModel)]="hero.defense"></p>
    <p class="hero-form-info-attack">Attack: <input type="number" name="attack" [(ngModel)]="hero.attack"></p>
    <p class="hero-form-info-attack-speed">Attack Speed: <input type="number" step="0.1" name="attackSpeed" [(ngModel)]="hero.attackSpeed"></p>
    <p class="hero-form-info-move-speed">Move Speed: <input type="number" name="moveSpeed" [(ngModel)]="hero.moveSpeed"></p>
  </div>
  <button type="submit">Save</button>
</form>