<div class="hero">
  <div class="hero-header">
    <h1 class="hero-name">{{hero.name}}</h1>
    <h2 class="hero-role">{{hero.role}}</h2>
    <a *ngIf="showDetails" class="hero-details" [routerLink]="['/hero', hero._id]">Details</a>
  </div>
  <div class="hero-info">
    <p class="hero-info-type">Type: {{hero.type}}</p>
    <p class="hero-info-life">Life: {{hero.life}}</p>
    <p class="hero-info-defense">Defense: {{hero.defense}}</p>
    <p class="hero-info-attack">Attack: {{hero.attack}}</p>
    <p class="hero-info-attack-speed">Attack Speed: {{hero.attackSpeed}}</p>
    <p class="hero-info-move-speed">Move Speed: {{hero.moveSpeed}}</p>
  </div>
</div>